In [2]:
import pandas as pd
from pathlib import Path

In [3]:
graduation_data = Path("resources/graduation_data.csv")
state_data = Path("resources/state_data.csv")

In [4]:
graduation_data_df = pd.read_csv(graduation_data)
state_data_df = pd.read_csv(state_data)
graduation_data_df.head()

                          State   2012-13
0    Alabama ..................   44233.0
1    Alaska ...................    7860.0
2    Arizona ..................   62208.0
3    Arkansas .................   28928.0
4    California ...............  422125.0

In [5]:
graduation_data_copy = graduation_data_df.copy()

In [25]:
graduation_data_copy["State"] = graduation_data_copy['State'].str.replace(r'\.+$', '', regex=True)
graduation_data_copy.head()

         State  Graduates
0     Alabama     44233.0
1      Alaska      7860.0
2     Arizona     62208.0
3    Arkansas     28928.0
4  California    422125.0

In [27]:
graduation_data_copy["State"]=graduation_data_copy["State"].apply(lambda x: x.strip())
graduation_data_copy.head()

        State  Graduates
0     Alabama    44233.0
1      Alaska     7860.0
2     Arizona    62208.0
3    Arkansas    28928.0
4  California   422125.0

In [28]:
graduation_data_copy = graduation_data_copy.rename(columns = {"State":"State", "2012-13":"Graduates"})
graduation_data_copy.head()

        State  Graduates
0     Alabama    44233.0
1      Alaska     7860.0
2     Arizona    62208.0
3    Arkansas    28928.0
4  California   422125.0

In [29]:
state_data_copy=state_data_df.copy()
state_data_copy=state_data_copy.rename(columns={"State Name [State] 2012-13":"State"})
state_data_copy.head()

,State Name,State,Instruction Expenditures (STE1) [State Finance] 2012-13,State Revenues (R3) per Pupil (MEMBR) [State Finance] 2012-13,Federal Revenues (STR4) per Pupil (MEMBR) [State Finance] 2012-13,Pupil/Teacher Ratio [State] 2012-13,Local Rev. - Property Tax (R1A) [State Finance] 2012-13,Grade 12 Students [Public School] 2012-13
0,CALIFORNIA,California,3.481554e+10,5696.00,1173.0,23.66,18324047150.00,494197.00
1,UTAH,Utah,2.494567e+09,4122.00,733.0,23.05,1466486401.00,40773.00
2,ARIZONA,Arizona,4.445724e+09,3640.00,1174.0,22.29,3013963966.00,81540.00
3,OREGON,Oregon,3.126634e+09,5177.00,970.0,22.25,2052018055.00,43637.00
4,NEVADA,Nevada,2.056074e+09,3135.00,902.0,21.54,1080252772.00,31939.00

In [49]:
merged=pd.merge(graduation_data_copy,state_data_copy,how="inner",on="State")
merged=merged.rename(columns={
    "State Revenues (R3) per Pupil (MEMBR) [State Finance] 2012-13":"State Revenue Per Pupil",
    "Federal Revenues (STR4) per Pupil (MEMBR) [State Finance] 2012-13":"Federal Revenue Per Pupil",
    "Pupil/Teacher Ratio [State] 2012-13":"Pupil to Teacher Ratio",
    "Grade 12 Students [Public School] 2012-13":"Grade 12 Students"
})
merged=merged.drop(["Instruction Expenditures (STE1) [State Finance] 2012-13","Local Rev. - Property Tax (R1A) [State Finance] 2012-13","State Name"],axis="columns")
merged

,State,Graduates,State Revenue Per Pupil,Federal Revenue Per Pupil,Pupil to Teacher Ratio,Grade 12 Students
0,Alabama,44233.0,5286.00,1142.0,14.35,‡
1,Alaska,7860.0,13918.00,2464.0,17.12,9681.00
2,Arizona,62208.0,3640.00,1174.0,22.29,81540.00
3,Arkansas,28928.0,5398.00,1259.0,14.24,30734.00
4,California,422125.0,5696.00,1173.0,23.66,494197.00
5,Colorado,50968.0,4360.00,814.0,17.65,62491.00
6,Connecticut,38722.0,7558.00,838.0,12.54,40743.00
7,Delaware,8070.0,8708.00,1491.0,13.94,8330.00
8,Florida,158029.0,3512.00,1147.0,15.25,183193.00
9,Georgia,92416.0,4474.00,1094.0,15.57,101078.00
10,Hawaii,10790.0,10625.00,1682.0,15.92,10721.00
11,Idaho,17198.0,4730.00,882.0,19.56,19028.00
12,Illinois,139228.0,3380.00,1116.0,15.28,144319.00
13,Indiana,66595.0,6390.00,996.0,17.40,74731.00
14,Iowa,32548.0,6239.00,946.0,14.25,36342.00
15,Kansas,31922.0,6604.00,1027.0,11.86,32671.00
16,Kentucky,42888.0,5661.00,1278.0,16.02,44032.00
17,Louisiana,37508.0,5137.00,1801.0,15.29,39928.00
18,Maine,13170.0,5557.00,1059.0,12.20,13201.00
19,Maryland,58896.0,7089.00,967.0,14.89,59976.00
20,Massachusetts,66360.0,6787.00,981.0,13.52,67855.00
21,Michigan,104210.0,7033.00,1170.0,18.05,118275.00
22,Minnesota,58255.0,8556.00,840.0,15.78,70502.00
23,Mississippi,26502.0,4484.00,1433.0,15.14,‡
24,Missouri,61407.0,3685.00,1010.0,13.86,64145.00
25,Montana,9369.0,5580.00,1492.0,14.01,9784.00
26,Nebraska,20442.0,4012.00,1182.0,13.73,23152.00
27,Nevada,23038.0,3135.00,902.0,21.54,31939.00
28,New Hampshire,14262.0,5399.00,870.0,12.66,14397.00
29,New Jersey,96490.0,8055.00,863.0,12.37,97035.00
30,New Mexico,19232.0,7497.00,1661.0,15.23,20292.00
31,New York,180351.0,8731.00,1193.0,13.09,192112.00
32,North Carolina,94339.0,5368.00,1088.0,15.40,94648.00
33,North Dakota,6900.0,6826.00,1578.0,11.65,7347.00
34,Ohio,122491.0,5683.00,1124.0,16.32,117586.00
35,Oklahoma,37033.0,4316.00,1088.0,16.12,39173.00
36,Oregon,33899.0,5177.00,970.0,22.25,43637.00
37,Pennsylvania,129777.0,5580.00,1240.0,14.32,132699.00
38,Rhode Island,9579.0,6385.00,1423.0,14.43,10260.00
39,South Carolina,42246.0,5304.00,1148.0,15.31,44755.00
40,South Dakota,8239.0,3169.00,1520.0,13.98,8694.00
41,Tennessee,61323.0,4178.00,1191.0,14.96,66299.00
42,Texas,301390.0,3965.00,1156.0,15.51,305425.00
43,Utah,33186.0,4122.00,733.0,23.05,40773.00
44,Vermont,6491.0,16284.00,1304.0,10.67,6066.00
45,Virginia,83279.0,4647.00,876.0,14.16,88965.00
46,Washington,66066.0,6808.00,991.0,19.59,84846.00
47,West Virginia,17924.0,7382.00,1343.0,14.08,18703.00
48,Wisconsin,61425.0,5569.00,975.0,15.16,67063.00
49,Wyoming,5489.0,9683.00,1252.0,12.45,6038.00

In [50]:

merged["Grade 12 Students"]=merged["Grade 12 Students"].str.replace(r'[^0-9.]', '', regex=True).str.strip()
merged["Grade 12 Students"]=pd.to_numeric(merged["Grade 12 Students"],errors="coerce")

In [54]:
merged["State Revenue Per Pupil"]=pd.to_numeric(merged["State Revenue Per Pupil"],errors="coerce")

In [56]:
print(merged.dtypes)

merged.head()

State                         object
Graduates                    float64
State Revenue Per Pupil      float64
Federal Revenue Per Pupil    float64
Pupil to Teacher Ratio       float64
Grade 12 Students            float64
dtype: object

,State,Graduates,State Revenue Per Pupil,Federal Revenue Per Pupil,Pupil to Teacher Ratio,Grade 12 Students
0,Alabama,44233.0,5286.0,1142.0,14.35,NaN
1,Alaska,7860.0,13918.0,2464.0,17.12,9681.0
2,Arizona,62208.0,3640.0,1174.0,22.29,81540.0
3,Arkansas,28928.0,5398.0,1259.0,14.24,30734.0
4,California,422125.0,5696.0,1173.0,23.66,494197.0

In [58]:
merged["Graduation Rates"]=merged["Graduates"]/merged["Grade 12 Students"]
merged

,State,Graduates,State Revenue Per Pupil,Federal Revenue Per Pupil,Pupil to Teacher Ratio,Grade 12 Students,Graduation Rates
0,Alabama,44233.0,5286.0,1142.0,14.35,NaN,NaN
1,Alaska,7860.0,13918.0,2464.0,17.12,9681.0,0.811900
2,Arizona,62208.0,3640.0,1174.0,22.29,81540.0,0.762914
3,Arkansas,28928.0,5398.0,1259.0,14.24,30734.0,0.941238
4,California,422125.0,5696.0,1173.0,23.66,494197.0,0.854163
5,Colorado,50968.0,4360.0,814.0,17.65,62491.0,0.815605
6,Connecticut,38722.0,7558.0,838.0,12.54,40743.0,0.950396
7,Delaware,8070.0,8708.0,1491.0,13.94,8330.0,0.968788
8,Florida,158029.0,3512.0,1147.0,15.25,183193.0,0.862637
9,Georgia,92416.0,4474.0,1094.0,15.57,101078.0,0.914304
10,Hawaii,10790.0,10625.0,1682.0,15.92,10721.0,1.006436
11,Idaho,17198.0,4730.0,882.0,19.56,19028.0,0.903826
12,Illinois,139228.0,3380.0,1116.0,15.28,144319.0,0.964724
13,Indiana,66595.0,6390.0,996.0,17.40,74731.0,0.891130
14,Iowa,32548.0,6239.0,946.0,14.25,36342.0,0.895603
15,Kansas,31922.0,6604.0,1027.0,11.86,32671.0,0.977074
16,Kentucky,42888.0,5661.0,1278.0,16.02,44032.0,0.974019
17,Louisiana,37508.0,5137.0,1801.0,15.29,39928.0,0.939391
18,Maine,13170.0,5557.0,1059.0,12.20,13201.0,0.997652
19,Maryland,58896.0,7089.0,967.0,14.89,59976.0,0.981993
20,Massachusetts,66360.0,6787.0,981.0,13.52,67855.0,0.977968
21,Michigan,104210.0,7033.0,1170.0,18.05,118275.0,0.881082
22,Minnesota,58255.0,8556.0,840.0,15.78,70502.0,0.826289
23,Mississippi,26502.0,4484.0,1433.0,15.14,NaN,NaN
24,Missouri,61407.0,3685.0,1010.0,13.86,64145.0,0.957315
25,Montana,9369.0,5580.0,1492.0,14.01,9784.0,0.957584
26,Nebraska,20442.0,4012.0,1182.0,13.73,23152.0,0.882947
27,Nevada,23038.0,3135.0,902.0,21.54,31939.0,0.721313
28,New Hampshire,14262.0,5399.0,870.0,12.66,14397.0,0.990623
29,New Jersey,96490.0,8055.0,863.0,12.37,97035.0,0.994383
30,New Mexico,19232.0,7497.0,1661.0,15.23,20292.0,0.947763
31,New York,180351.0,8731.0,1193.0,13.09,192112.0,0.938781
32,North Carolina,94339.0,5368.0,1088.0,15.40,94648.0,0.996735
33,North Dakota,6900.0,6826.0,1578.0,11.65,7347.0,0.939159
34,Ohio,122491.0,5683.0,1124.0,16.32,117586.0,1.041714
35,Oklahoma,37033.0,4316.0,1088.0,16.12,39173.0,0.945371
36,Oregon,33899.0,5177.0,970.0,22.25,43637.0,0.776841
37,Pennsylvania,129777.0,5580.0,1240.0,14.32,132699.0,0.977980
38,Rhode Island,9579.0,6385.0,1423.0,14.43,10260.0,0.933626
39,South Carolina,42246.0,5304.0,1148.0,15.31,44755.0,0.943939
40,South Dakota,8239.0,3169.0,1520.0,13.98,8694.0,0.947665
41,Tennessee,61323.0,4178.0,1191.0,14.96,66299.0,0.924946
42,Texas,301390.0,3965.0,1156.0,15.51,305425.0,0.986789
43,Utah,33186.0,4122.0,733.0,23.05,40773.0,0.813921
44,Vermont,6491.0,16284.0,1304.0,10.67,6066.0,1.070063
45,Virginia,83279.0,4647.0,876.0,14.16,88965.0,0.936087
46,Washington,66066.0,6808.0,991.0,19.59,84846.0,0.778658
47,West Virginia,17924.0,7382.0,1343.0,14.08,18703.0,0.958349
48,Wisconsin,61425.0,5569.0,975.0,15.16,67063.0,0.915930
49,Wyoming,5489.0,9683.0,1252.0,12.45,6038.0,0.909076